body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    margin: 0 10%;
    height: 600px;
}

.header-top {
    background-color: black;
    height: 50px;
    background-position: center;
    background-size: contain;
}

.header-top nav ul {
    margin: 0;
    text-align: center;
}

.header-top nav ul li {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 80px;
    position: relative;
}

.header-top nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
    color: white;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.header-top nav ul li a:hover {
    text-shadow: 1px 1px red;
    text-decoration: underline;
    font-size: x-large;
    box-sizing: border-box;
}

img {
    width: 100%;
}

address p {
    font-size: large;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    letter-spacing: 1.2px;
    line-height: 30px;
}

address iframe {
    width: 100%;
}

main article section ul li {
    font-size: large;
}

footer {
    padding-top: 30px;
    margin-top: 50px;
    color: white;
    background-color: black;
    text-align: center;
    height: 80px;
    box-sizing: border-box;
}